<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MakuTweaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MakuTweaker.Properties.Settings>
            <setting name="language" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="form1pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="sleep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disablead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="uwpdis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="custlang" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="category" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="explorernewt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="languageCode" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="SavedColor" serializeAs="String">
                <value>7, 0, 31</value>
            </setting>
            <setting name="elementary" serializeAs="String">
                <value>False</value>
            </setting>
        </MakuTweaker.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>